{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}GymIcesi{% endblock %}</title>

  <!-- Estilos globales -->
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">


</head>

<body>

<header class="site-header">
    <div class="brand" href="{% url 'routine_users' %}" >
    <svg class="icon" width="26" height="26" viewBox="0 0 24 24" fill="none">
      <path d="M5 8v8M3 9v6M9 10v4M15 10v4M19 8v8M21 9v6M9 12h6" stroke="#66fcf1" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <span class="brand__name">GymIcesi</span>

  </div>

  <nav class="nav">
    <a href="{% url 'exercise_list' %}">Ejercicios</a>
  
  </nav>
</header>

<main class="content">
  {% block content %}
  {% endblock %}
</main>

<footer class="site-footer">
  <p>© {% now "Y" %} GymIcesi. Todos los derechos reservados.</p>
</footer>

<!-- Scripts globales -->
<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
